/* ASCO DAILY NEWS STYLES */

body {
	font-family:Lato, 'Noto Sans', Arial, sans-serif;
	background-color:#ffffff;
}

.local-navigation {
	background-color:#ffffff;
	border-top:1px solid #666;
	border-bottom:1px solid #666;
}