/* ASCO DAILY NEWS STYLES */

body {
	font-family:Lato, 'Noto Sans', Arial, sans-serif;
	background-color:#ffffff;
}

p {
	font-size:16px;
	line-height:1.5em;
}

.full-menu-bar .wrapped {
    width: 100%;
}

.full-menu-bar .row.row-xs, .full-menu-bar .row.row-md {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1200px) {
	.full-menu-bar .row.row-xs, .full-menu-bar .row.row-md {
    	flex-wrap:wrap;
	}
}


@media screen and (min-width:991px) and (max-width:1200px) {
	.menuHtml {
    	margin-top: 0;
	}
	.menuHtml > .wrapped > .widget-body {
    	padding-top:0;
    	padding-bottom:0;
	}
}

.local-navigation {
	background-color:#ffffff;
	border-top:1px solid #666;
	border-bottom:1px solid #666;
}

.col-xs-1-2.nav-items-left, .col-md-1-2.nav-items-left {
	min-width:646px;
}

.col-xs-1-2.search-items-right, .col-md-1-2.search-items-right  {
	min-width:454px;
}

.normal-view-desktop {
	background-color:#ffffff;
}

.normal-view-desktop .navdrawer-container .navdrawer-items li a {
	color:#00447c;
	font-size:1.1em;
	font-weight:700;
	text-transform:uppercase;
}
.normal-view-desktop .navdrawer-container .navdrawer-items li .navdrawer-submenu li a {
    text-transform: none;
}

.normal-view-desktop .navdrawer-header {
    background-color: #088965;
}

.responsiveQuickSearchWidget.widget {
	width:100%;
}
.quicksearch-actions .responsiveAdvanceSearch, .quicksearch-actions .AdvanceSearch {
	display:none;
}

.responsiveQuickSearchWidget.widget .searchButtons {
	background-color:#088965;
}

.responsiveQuickSearchWidget.widget .searchButtons:hover {
    background: #066f51;
}

@media (max-width: 991px) {
	.menuHtml .normal-view-desktop .mini-menu {
    	color: #088965;
	    padding: 5px 0px;
	}
	.responsiveQuickSearchWidget .icon-search {
		color: #088965;
		top:-47px;
	}
	.responsiveQuickSearchWidget .main-search-field {
	    width: calc(100% - 108px);
	}
	.full-menu-bar .row.row-xs {
    	flex-wrap:nowrap;
	}
	.col-xs-1-2.nav-items-left, .col-xs-1-2.search-items-right, .col-md-1-2.nav-items-left, .col-md-1-2.search-items-right {
		min-width:0;
		width:100%;
	}
	.col-xs-1-2.search-items-right, .col-md-1-2.search-items-right {
    align-self: flex-start;
	}
	.main-logo {
    	padding: 7px 0;
	}
	.responsiveQuickSearchWidget .search-open.resQuickSearchForm {
		top:1px!important;
	}
}

.mini-menu {
	border-left:0px solid transparent;
}

.loginBar {
	color:white;
	font-size:1.1em;
}

.loginBar > a[href^="https://account.asco.org"], .loginBar > a[href^="/action/doLogout"] {
    background: none;
    color: #088965;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0;
    text-decoration: none;
    margin-left: 25px;
	transition:0.25s ease all;
}

.loginBar > a[href^="https://account.asco.org"]::before, .loginBar > a[href^="/action/doLogout"]::before {
    content:url('/pb-assets/images/adn/account-icon.png');
    position: absolute;
    width: 20px;
    margin-left: -25px;
}

.loginBar > a[href^="https://account.asco.org"]:hover, .loginBar > a[href^="/action/doLogout"]:hover {
	text-decoration:underline;
	background:none;
}
span.individualUser a:link, span.individualUser a:visited {
    color: #666;
    font-weight: 700;
    text-decoration: none;
    margin-right: -8px;
}

span.individualUser a:hover {
    text-decoration: underline;
    color: #088965;
}

/* HOMEPAGE STYLES */
.homepage-layout h1 {
    color: #00447c;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
}

.homepage-layout .latest-news-container h1 {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 10px 0;
	margin-bottom: 0;
}

div#adn-homepage-commentary h1, .editors-pick-container h1 {
    border-top: 1px solid #aaa;
    padding: 30px 0px 20px 0px;
    width: 99%;
    margin: 1em auto 0.5em auto;
}
.adn-homepage-commentary ul.do-pub-list {
    list-style-type: none;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
	padding-left: 0;
}
.adn-homepage-commentary ul.do-pub-list .item__image {
    height: 300px;
    overflow: hidden;
}

.adn-homepage-commentary ul.do-pub-list .item__image img {
	max-width:100%;
}

.adn-homepage-commentary .do-pub-list .teaser-details-container, .featured .do_teaser_item .teaser-details-container {
    background-color: #ddd;
    padding: 10px 5px;
    margin: 0 10px;
}

.adn-homepage-commentary .do-pub-list .do_teaser_item, .featured .do_teaser_item {
    background-color: #ddd;
	min-height: 100%;
}

.adn-homepage-commentary .do-pub-list .teaser-tile-container, .featured .do_teaser_item .teaser-tile-container {
    background-color: #ddd;
    margin-top: -40px;
    z-index: 100;
    position: relative;
    padding: 5px 10px;
}

.teaser-tile-container h2.item__title {
    margin-top: 0;
}
.teaser-tile-container h2.item__title a:link, .teaser-tile-container h2.item__title a:visited {
    text-decoration: none;
    color: #444;
    font-size: 0.9em;
}

.teaser-tile-container h2.item__title a:hover {
    text-decoration: underline;
}

.teaser-tile-container .item-divider {
    height: 5px;
    width: 30%;
    background-color: #088965;
    margin-bottom: 1em;
}

.teaser-tile-container .item__abstract {
    padding-top: 0.5em;
}
.item__topic span {
    color: #088965;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.95em;
}

.adn-homepage-commentary .do-pub-list .item__topic, .featured .do_teaser_item .item__topic {
	display:none;
}
.featured img.thumb {
    max-width: 100%;
}
.featured .teaser-tile-container h2.item__title {
    font-size: 2.35em;
}
.latest-news-container .do-pub-list .item__image {
    display: none;
}

.latest-news-container ul.do-pub-list, .editors-pick .do-pub-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.latest-news-container .do-pub-list .item-divider {
    display: none;
}

.latest-news-container .do-pub-list .item__abstract {
    display: none;
}

.latest-news-container .do-pub-list .item__topic span {
    font-size: 0.75em;
}

.latest-news-container .do-pub-list .teaser-details-container {
    font-size: 16px;
}

.latest-news-container .do-pub-list .item__topic {
    margin: 7px 0;
}

.latest-news-container .do-pub-list .item__topic span {
    font-size: 0.75em;
}

.latest-news-container .do-pub-list .teaser-details-container {
    font-size: 16px;
}

.latest-news-container .do-pub-list .item__topic {
    margin: 7px 0;
}


.latest-news-container .do-pub-list li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.latest-news-container .do-pub-list li:last-child {
    border-bottom:0px solid transparent;
}

.latest-news-container .do-pub-list .teaser-tile-container h2.item__title {
    font-size: 1.25em;
}

/* ARTICLE LEVEL */
figure.daily-news-image img {
   max-width:100%;
   max-height:300px;
}
img.adn-fig {
    max-width: 560px;
}

@media screen and (max-width: 532px){
    figure.daily-news-image, figure.daily-news-figure {
        margin: 1em auto;
    }
}
@media screen and (min-width: 532px){
	.daily-news-image:nth-of-type(even) {
    float: left;
    margin-left:0;
    }
    .daily-news-image:nth-of-type(odd) {
    float: right;
    margin-right:0;
    }
    figure.daily-news-image {
    max-width: 40%;
	}
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    padding: 5px;
}

figure.daily-news-image, figure.daily-news-figure {
    padding: 5px;
    display: table;
}

figure.daily-news-image img, figure.daily-news-figure img {
    display: block;
}

.bio-section span, .disclosure-section span {
    display: block;
    margin: 10px auto;
}

.article__body {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 20px;
}

.article__body p {
	font-size: 18px;
	line-height:1.6;
}

.topic__section span {
    text-transform: uppercase;
    font-weight: 700;
    color: #028864;
}

.adn-references {
    clear:both;
}

.commentary-images figure.daily-news-image {
    float:left;
    margin-left:auto;
}
